.links {
  flex-direction: row;
  justify-content: space-between;
}

.links li:last-child {
  margin-right: 0;
}

.links a {
  border: 0;
}

li img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 640px) {
  .header-links-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 1;
  }
}
