#experience-container {
  width: 100%;
  height: 250px;
}

#experience-container-slider {
  transition: transform 0.5s ease-in-out;
}

.experience-item {
  text-align: center;
  align-content: center;
}

.experience-item p {
  font-size: 0.875em;
}

.experience-item img {
  width: 75px;
  height: 75px;
}
