.pattern-container {
  height: 150px;
  width: 100px;
  position: absolute;
  top: calc(30% - 100px);
  left: 20px;
  z-index: -1;
  background-image: url(../assets/circle-half-donut-mirror.svg);
  background-repeat: repeat;
  background-position: left;
  background-size: 20px;
}

#full-name {
  border-bottom: 3px solid rgb(125, 217, 166);
}

.dorian-img {
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.contact-link-container a {
  font-size: 1.2em;
  font-weight: 700;
}

@media screen and (min-width: 640px) {
  .dorian-img {
    position: absolute;
    right: 0;
    top: 0px;
    width: 35%;
    height: calc(100% - 60px);
    z-index: 0;
    box-sizing: border-box;
  }
}
