.welcome-text h1 {
  font-size: 2em;
}

#full-name {
  border-bottom: 3px solid rgb(125, 217, 166);
}

.dorian-img {
  width: 80%;
}

.contact-link-container a {
  font-size: 1.2em;
  font-weight: 700;
}
