#projects-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.project-block {
  width: 100%;
}

.project-image,
.project-title,
.project-links,
.project-image,
.language-list {
  width: inherit;
}

.project-title {
  line-height: 1.25;
}

.language-list,
.project-links {
  justify-content: left;
}

.language-list {
  margin-top: 10px;
}

.language-list li {
  font-size: 1.15em;
  font-weight: 600;
  color: rgb(183, 183, 183);
}
