#projects-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-block {
  width: 100%;
}

.project-image,
.project-title,
.project-links,
.project-image,
.language-list {
  width: inherit;
}

.project-title {
  line-height: 1.25;
}

.language-list,
.project-links {
  justify-content: left;
}

.language-list {
  margin-top: 10px;
}

.language-list li {
  font-size: 1.15em;
  font-weight: 600;
  color: rgb(183, 183, 183);
}

@media screen and (min-width: 640px) {
  .projects-blocks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
  }

  .project-block {
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
    margin: 0;
    height: 100%;
  }
}
