#header {
  padding: 20px 20px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 50px;
  border-radius: 0 0 50px 50px;
}

#my-name {
  font-size: 1.5em;
  margin: 0;
}

.links {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  width: 60%;
  justify-content: space-between;
}

.links li {
  color: #ffffff;
}

li img {
  width: 30px;
  height: 30px;
}

.welcome-text {
  text-align: center;
}

.welcome-text h1 {
  font-size: 1.5em;
}

#full-name {
  border-bottom: 3px solid rgb(125, 217, 166);
}

.dorian-img {
  width: 80%;
}

.description {
  margin-top: 20px;
}

.contact-link-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-link-container a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(125, 217, 166);
  font-weight: 700;
}

/********************** EXPERIENCE ********************/
#experience-container {
  border-radius: 0 0 50px 50px;
  background-color: #fff;
  height: 250px;
  width: 100%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

#experience-container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
}

.experience-item {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  align-items: center;
}

.experience-item p {
  font-size: 0.875em;
}

.experience-item img {
  width: 75px;
  height: 75px;
}

/******************* PROJECTS *******************/
#projects-container {
  background-color: #000;
}
